<template>
  <div id="cesiumContainer" ref="container">
    <el-dropdown @command="handleCommand" class="elDrop" trigger="click">
      <span class="el-dropdown-link">
        切换城市<i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="香港">香港</el-dropdown-item>
        <el-dropdown-item command="澳门">澳门</el-dropdown-item>
        <el-dropdown-item command="珠海">珠海</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>

    <el-dialog
      :close-on-click-modal="false"
      :visible.sync="dialogIsShow">
      <template v-if="chosenStyle==='图片'">
        <div :style="{height: '324px',marginTop: '10px'}">
          <img height="100%" width="100%" :src='axios.defaults.baseURL+"/upload/address/"+chosenContent' alt="">
        </div>
      </template>
      <template v-else-if="chosenStyle==='视频'">
        <div :style="{height: '324px',marginTop: '10px'}">
          <video width="100%" height="100%" controls>
            <source :src='axios.defaults.baseURL+"/upload/address/"+chosenContent' type="video/mp4">
            <source :src='axios.defaults.baseURL+"/upload/address/"+chosenContent' type="video/ogg">
            <source :src='axios.defaults.baseURL+"/upload/address/"+chosenContent' type="video/MPEG4">
            <source :src='axios.defaults.baseURL+"/upload/address/"+chosenContent' type="video/WebM">
            Your browser does not support the video tag.
          </video>
        </div>
      </template>
      <template v-else-if="chosenStyle==='文本'">
        <div class="wordTxt" :style="{height: '324px',overflowY: 'auto',marginTop:'10px'}">
          <div :style="{color: '#fff',textIndent: '2rem',fontSize: '14px'}">{{ chosenContent }}</div>
        </div>
      </template>
    </el-dialog>
  </div>
</template>
<script>
  import $ from 'jquery'
  import Vue from 'vue'
  import axios from 'axios'
  import iconImg from '../assets/images/icon.png'
  import sanjiao from '../assets/images/sj.png'
  export default {
    name: 'cesiumViewer',
    data(){
      return {
        viewer: {},
        dialogIsShow: false,
        chosenStyle: '',
        chosenContent: '',
        earthUrl: ''
      }
    },
    computed:{
      handler(){
        return new this.Cesium.ScreenSpaceEventHandler(this.viewer.canvas)
      }
    },
    mounted() {
      //this.viewer.cesiumWidget.screenSpaceEventHandler.removeInputAction(this.Cesium.ScreenSpaceEventType.LEFT_DOUBLE_CLICK)
      this.viewer = new this.Cesium.Viewer('cesiumContainer', {
        animation: false,
        baseLayerPicker: false,
        fullscreenButton: false,
        geocoder: false,
        homeButton: false,
        infoBox: false,
        sceneModePicker: true,
        selectionIndicator: false,
        timeline: false,
        navigationHelpButton: false,
        imageryProvider: new this.Cesium.UrlTemplateImageryProvider({
          url: this.GLOBAL.earthUrl
        }),
        navigationInstructionsInitiallyVisible: false,
        navigation: true,
        //2D、3D切换
        sceneModel: this.Cesium.SceneMode.SCENE3D
      })
      this.eartthUrl = this.getEarthUrl()
      this.defaultCity()

      var infoDiv = `<div class="outInfo" style="position:absolute;">
                            <ul class="info" style="margin: 0;padding: 0;max-width: 520px;max-height: 415px"></ul>
                     </div>`
      $("#cesiumContainer").append(infoDiv)
    },
    methods:{
      getEarthUrl(){
        return Vue.prototype.earthUrl
      },
      //页面数据渲染的方法
      showAreaData(val){
        const _this = this
        axios.get('/addressInfo/findListByCity?city='+val).then(res=>{
          var meta = res.data
          var entries = Object.entries(res.data)
          for(var i = 0;i<entries.length;i++){
            var entriesChild = entries[i][1]
            for(var j = 0;j<entriesChild.length;j++){
              var x = _this.viewer.entities.add({
                name: entriesChild[j].address,
                position : _this.Cesium.Cartesian3.fromDegrees(parseFloat(entries[i][0].split(',')[0]), parseFloat(entries[i][0].split(',')[1])),
                label: { //文字标签
                  text: entriesChild[j].address,
                  font: '14pt Source Han Sans CN',
                  fillColor: _this.Cesium.Color.WHITE,  //字体颜色
                  style: _this.Cesium.LabelStyle.FILL_AND_OUTLINE,  //label样式
                  outlineWidth: 3,
                  verticalOrigin: _this.Cesium.VerticalOrigin.BOTTOM, //垂直方向以底部来计算标签的位置
                  pixelOffset: new _this.Cesium.Cartesian2( 0, 22 )  //偏移量
                },
                billboard: {
                  image: iconImg, // default: undefined
                  show: true, // default
                  verticalOrigin: _this.Cesium.VerticalOrigin.BOTTOM, // default: CENTER
                  scale: 1.5, // default: 1.0
                  alignedAxis: _this.Cesium.Cartesian3.ZERO, // default
                  width: 20, // default: undefined
                  height: 20 // default: undefined
                }
              })

              _this.handler.setInputAction(function (movement) {
                var pick = _this.viewer.scene.pick(movement.position)
                if(pick && pick.id){
                  var listArr = []
                  for(var m=0;m<entries.length;m++){
                    var entriesChilds = entries[m][1]
                    for(var n = 0;n<entriesChilds.length;n++){
                      if(pick.id._name===entriesChilds[n].address){
                        listArr.push(entriesChilds[n])
                      }
                    }
                  }
                  $(".info").html('')
                  $(".outInfo").slideDown()
                  $(".outInfo").css("left",(parseInt(movement.position.x.toFixed(0))-260)+'px');
                  $(".outInfo").css("top",(parseInt(movement.position.y.toFixed(0))-200)+'px');

                  for(var z=0;z<listArr.length;z++){
                    var inner = ''
                    if(listArr[z].filetype==='图片'){
                      inner = `<li style="margin-bottom:5px;float:left;cursor:pointer;color:#fff;display: inline-block;width: 130px;height: 100px;text-align: center;" seeType="${listArr[z].filetype}" see="${listArr[z].filepath}">
                                <div style="width:100px;height:80px;margin-left: 15px;margin-top: 10px">
                                  <img height="100%" width="100%" src='${axios.defaults.baseURL}/upload/address/${listArr[z].filepath}' alt="">
                                </div>
                             </li>`
                    }else if(listArr[z].filetype==='视频'){
                      inner = `<li style="margin-bottom:5px;float:left;cursor:pointer;color:#fff;display: inline-block;width: 130px;height: 100px;text-align: center;" seeType="${listArr[z].filetype}" see="${listArr[z].filepath}">
                                <video controls height="90%" width="50%" style="margin-top: 5px">
                                    <source :src='${axios.defaults.baseURL}/upload/address/${listArr[z].filepath}' type="video/mp4">
                                </video>
                             </li>`
                    }else if(listArr[z].filetype==='文本'){
                      inner = `<li style="text-indent:2rem;font-size:12px;float:left;margin-bottom:5px;cursor:pointer;color:#fff;display: inline-block;width: 130px;height: 100px;" seeType="${listArr[z].filetype}" see="${listArr[z].details}">
                                <div style="height: 80px;overflow: hidden;text-overflow:ellipsis;margin-top: 10px;width: 110px;margin-left: 10px;">${listArr[z].details}</div>
                             </li>`
                    }
                    $(".info").append(inner)
                  }

                  $(".info li").css("background-image","url(" + require("../assets/images/bgc_darker_little.png") + ")")
                  $(".info li").css("background-size","100% 100%")
                  $(".info li").click(function () {
                    _this.dialogIsShow = true
                    _this.chosenStyle = $(this).attr("seeType")
                    _this.chosenContent = $(this).attr("see")
                  })
                }else{
                  $(".outInfo").slideUp()
                }
              },_this.Cesium.ScreenSpaceEventType.LEFT_CLICK)

              _this.handler.setInputAction(function (movement) {
                $('.outInfo').hide();
              }, _this.Cesium.ScreenSpaceEventType.LEFT_UP);
              //绑定地图缩放
              _this.handler.setInputAction(function (movement) {
                $('.outInfo').hide();
              }, _this.Cesium.ScreenSpaceEventType.WHEEL);
              //绑定滚轮点击事件
              _this.handler.setInputAction(function (movement) {
                $('.outInfo').hide();
              }, _this.Cesium.ScreenSpaceEventType.MIDDLE_DOWN);
            }
          }
        })
      },
      //默认显示城市---香港
      defaultCity(){
        this.viewer.camera.flyTo({
          destination: this.Cesium.Cartesian3.fromDegrees(114.14, 22.30, 100000),
          orientation: {
            heading: this.Cesium.Math.toRadians(0),
            pitch: this.Cesium.Math.toRadians(-90),
            roll: this.Cesium.Math.toRadians(0)
          }
        })
        this.showAreaData('香港')
      },
      //切换城市
      handleCommand(command) {
        this.viewer.entities.removeAll();
        $(".outInfo").slideUp()
        if(command==='香港'){
          this.viewer.camera.flyTo({
            destination: this.Cesium.Cartesian3.fromDegrees(114.14, 22.30, 100000),
            orientation: {
              heading: this.Cesium.Math.toRadians(0),
              pitch: this.Cesium.Math.toRadians(-90),
              roll: this.Cesium.Math.toRadians(0)
            }
          })
        }
        if(command==='澳门'){
          this.viewer.camera.flyTo({
            destination: this.Cesium.Cartesian3.fromDegrees(113.532715, 22.122379, 30000),
            orientation: {
              heading: this.Cesium.Math.toRadians(0),
              pitch: this.Cesium.Math.toRadians(-90),
              roll: this.Cesium.Math.toRadians(0)
            }
          })
        }
        if(command==='珠海'){
          this.viewer.camera.flyTo({
            destination: this.Cesium.Cartesian3.fromDegrees(113.522759, 22.228090, 30000),
            orientation: {
              heading: this.Cesium.Math.toRadians(0),
              pitch: this.Cesium.Math.toRadians(-90),
              roll: this.Cesium.Math.toRadians(0)
            }
          })
        }
        this.showAreaData(command)
      }
    }
  }
</script>

<style>
  .info li:nth-child(1):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 148px;
    left: 50px;
    -webkit-transform: rotateZ(53deg) scale(1.3);
    transform: rotateZ(53deg) scale(1.3);
  }
  .info li:nth-child(2):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 148px;
    left: -15px;
    -webkit-transform: rotateZ(123deg) scale(1.3);
    transform: rotateZ(123deg) scale(1.3);
  }
  .info li:nth-child(3):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 71px;
    left: 143px;
    -webkit-transform: rotateZ(20deg) scale(1.39);
    transform: rotateZ(20deg) scale(1.39);
  }
  .info li:nth-child(4):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 71px;
    left: -110px;
    -webkit-transform: rotateZ(156deg) scale(1.3);
    transform: rotateZ(156deg) scale(1.3);
  }
  .info li:nth-child(5):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 20px;
    left: 147px;
    -webkit-transform: rotateZ(-23deg) scale(1.47);
    transform: rotateZ(-23deg) scale(1.47);
  }
  .info li:nth-child(6):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 21px;
    left: -108px;
    -webkit-transform: rotateZ(26deg) scale(1.3);
    transform: rotateZ(26deg) scale(1.3);
  }
  .info li:nth-child(7):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: -53px;
    left: 53px;
    -webkit-transform: rotateZ(-58deg) scale(1.35);
    transform: rotateZ(-58deg) scale(1.35);
  }
  .info li:nth-child(8):before{
    content: '';
    background: #314875;
    width: 100px;
    height: 3px;
    position: absolute;
    top: -57px;
    left: -20px;
    -webkit-transform: rotateZ(63deg) scale(1.28);
    transform: rotateZ(63deg) scale(1.28);
  }
  .info li{
    position: relative;
  }
  .info li:nth-child(1){
    margin-left: 120px;
  }
  .info li:nth-child(2){
    margin-right: 130px;
    margin-left: 10px;
  }
  .info li:nth-child(4){
    margin-left: 250px;
  }
  .info li:nth-child(6){
    margin-left: 250px;
  }
  .info li:nth-child(7){
    margin-left: 120px;
  }
  .info li:nth-child(8){
    margin-left: 10px;
  }
  .wordTxt::-webkit-scrollbar {/*滚动条整体样式*/
    width: 6px;     /*高宽分别对应横竖滚动条的尺寸*/
  }
  .wordTxt::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #151546;
  }
  .wordTxt::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px #5A5A93;
    border-radius: 0;
    background: #fff;
  }
</style>
<style scoped>
  #cesiumContainer >>> .el-dialog{
    text-align: left;
    background: url('../assets/images/bgc_darker.png') no-repeat 100% 100%;
    background-size: 100% 100%;
    position: absolute;
    right: 10%;
    width: 600px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0!important;
    height: 400px;
  }
  #cesiumContainer >>> .el-dialog__headerbtn:focus .el-dialog__close, .el-dialog__headerbtn:hover .el-dialog__close{
    color:#fff;
  }
  #cesiumContainer >>> .el-dialog .el-dialog__close{
    color: #fff;
  }
  #cesiumContainer >>> .el-dialog .el-dialog__title{
    color: #fff;
  }
  #cesiumContainer >>> .el-dialog .el-dialog__body{
    padding: 0 20px;
  }
  #cesiumContainer{
    height: 100%;
  }
  .elDrop{
    position: absolute;
    z-index: 111;
    color: #fff;
    background: #303336;
    height: 32px;
    line-height: 32px;
    width: 80px;
    border-radius: 5px;
    right: 47px;
    top: 5px;
    text-align: center;
  }
  .el-dropdown-link {
    cursor: pointer;
  }
  .el-icon-arrow-down {
    font-size: 12px;
  }
  #cesiumContainer >>> .cesium-viewer-bottom .cesium-widget-credits{
    display: none;
  }
  .el-dropdown-menu{
    background: #303336;
    border-color: #303336;
  }
  .el-dropdown-menu >>> .el-dropdown-menu__item{
    color: #fff;
  }
  .el-dropdown-menu >>> .el-dropdown-menu__item:hover{
    background: #040422;
  }
  .el-dropdown-menu >>> .popper__arrow:after{
    border-bottom-color: #303336;
  }
  .el-dropdown-menu >>> .popper__arrow{
    border-bottom-color: #303336;
  }
</style>
