<template>
  <div class="position">
		<div class="header">
			<div class="logo">
				<img src="../assets/images/logo-white-small.png" alt="">
				<div class="titleName">
					<p class="title1">地图数据管理系统</p>
					<p class="title2">Map Data Management System</p>
				</div>
			</div>
			<el-button class="add-button" type="primary" @click="addItem">新增数据</el-button>
		</div>
    <el-dialog
      title="新增"
      :visible.sync="DialogVisible"
      :close-on-click-modal="false" class="add-new"
			:before-close="handleClose">
      <el-form label-width="50px" ref="newData" :rules="rules" :model="newData">
        <el-form-item label="城市" prop="city">
          <el-select :value="newData.city" v-model="newData.city" :style="{width: '100%'}" placeholder="请选择城市">
            <el-option
              v-for="(item, index) in cities"
              :key="index"
              :value="item.name"
              :label="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地址" prop="address" show-overflow-tooltip>
          <el-input v-model="newData.address" placeholder="请输入地址"></el-input>
        </el-form-item>
        <el-form-item label="类型" prop="style">
          <el-select :value="newData.style" v-model="newData.style" :style="{width: '100%'}" placeholder="请选择类型">
            <el-option
              v-for="(item, index) in styles"
              :key="index"
              :value="item.name"
              :label="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <template v-if="newData.style==='图片'">
          <el-form-item label="详情">
            <el-upload
              class="upload-demo"
              :action="axios.defaults.baseURL+'/addressInfo/uplodaFile'"
              :accept="'image/*'"
              :on-success="handleSuccess"
							:on-remove="handleRemove"
              :before-remove="beforeRemove"
              :limit="1"
              :on-exceed="handleExceed">
              <el-button size="small" type="primary">点击上传图片</el-button>
            </el-upload>
          </el-form-item>
        </template>
        <template v-else-if="newData.style==='视频'">
          <el-form-item label="详情">
            <el-upload
              class="upload-demo"
              :action="axios.defaults.baseURL+'/addressInfo/uplodaFile'"
              accept=".mp4"
              :on-preview="handleVideoPreview"
              :on-remove="handleVideoRemove"
              :on-success="handleVideoSuccess"
              :before-remove="beforeVideoRemove"
              :limit="1"
              :on-exceed="handleVideoExceed">
              <el-button size="small" type="primary">点击上传视频</el-button>
            </el-upload>
          </el-form-item>
        </template>
        <template v-else-if="newData.style==='文本'">
          <el-form-item label="详情">
            <textarea class="text-area" placeholder="请输入..." v-model="newData.details">
 
						</textarea>
          </el-form-item>
        </template>
      </el-form>
      <el-footer slot="footer" class="dialog-footer">
        <el-button @click="closeDialog" type="danger" plain>取消</el-button>
        <el-button @click="sure" type="primary">确定</el-button>
      </el-footer>
    </el-dialog>

    <el-dialog
      title="编辑"
      :visible.sync="editDialogVisible"
      :close-on-click-modal="false"
			:before-close="handleClose">
      <el-form label-width="50px" ref="editData" :rules="editRules" :model="editData">
        <el-form-item label="城市" prop="city">
          <el-select :value="editData.city" v-model="editData.city" :style="{width: '100%'}" >
            <el-option
              v-for="(item, index) in cities"
              :key="index"
              :value="item.name"
              :label="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地址" prop="address">
          <el-input v-model="editData.address"></el-input>
        </el-form-item>
        <el-form-item label="类型" prop="filetype">
          <el-select :value="editData.filetype" v-model="editData.filetype" :style="{width: '100%'}" @change="editChange">
            <el-option
              v-for="(item, index) in styles"
              :key="index"
              :value="item.name"
              :label="item.name">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="详情">
					<template v-if="editData.filetype==='图片' && editData.filepath !== '' && isDeleteEditImg === false">
						<img :src="GLOBAL.baseUrl + '/upload/address/' + editData.filepath" alt="">
					  <i class="close-img el-icon-close" @click="closeImg"></i>
					</template>
          <template v-if="editData.filetype==='图片' && isDeleteEditImg === true">
            <el-upload
              class="upload-demo"
              :action="axios.defaults.baseURL+'/addressInfo/uplodaFile'"
              :accept="'image/*'"
              :on-success="handleSuccess"
							:on-remove="handleRemove"
              :before-remove="beforeRemove"
              :limit="1"
              :file-list="imageFileList"
              :on-exceed="handleExceed">
              <el-button size="small" type="primary">点击上传图片</el-button>
            </el-upload>
          </template>
          <template v-else-if="editData.filetype==='视频' && editData.filepath !== '' && isDeleteEditVideo === false">
						<video  class="edit-video" id="videoPlay" :src="GLOBAL.baseUrl + '/upload/address/' + editData.filepath" alt="">您的浏览器不支持 video 视屏播放。</video>
						<i class="close-img el-icon-close" @click="closeImg"></i>
						<i :class="'close-video iconfont ' + videoIcon" @click="playVideo"></i>
          </template>
					<template v-else-if="editData.filetype==='视频' && isDeleteEditVideo === true">
					  <el-upload
					    class="upload-demo"
					    :action="axios.defaults.baseURL+'/addressInfo/uplodaFile'"
					    accept=".mp4"
					    :on-preview="handleVideoPreview"
					    :on-remove="handleVideoRemove"
					    :on-success="handleVideoSuccess"
					    :before-remove="beforeVideoRemove"
					    :limit="1"
					    :file-list="videoFileList"
					    :on-exceed="handleVideoExceed">
					    <el-button size="small" type="primary">点击上传视频</el-button>
					  </el-upload>
					</template>
          <template v-else-if="editData.filetype==='文本'">
						<textarea class="text-area" v-model="editData.details"></textarea>
            <!-- <el-input v-model="editData.details" placeholder="请输入文本内容"></el-input> -->
          </template>
        </el-form-item>
      </el-form>
      <el-footer slot="footer" class="dialog-footer">
        <el-button @click="closeEditDialog" type="danger" plain>取消</el-button>
        <el-button @click="editSure" type="primary">确定</el-button>
      </el-footer>
    </el-dialog>

    <el-dialog
      title="详情"
      :visible.sync="detailDialogVisible"
      :close-on-click-modal="false"
			class="showInfo">
      <el-form label-width="70px">
        <el-form-item label="城市">
          <el-input v-model="detailData.city" readonly="readonly"></el-input>
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="detailData.address" readonly="readonly"></el-input>
        </el-form-item>
        <!-- <el-form-item label="ID">
          <el-input v-model="detailData.id" readonly="readonly"></el-input>
        </el-form-item> -->
        <el-form-item label="类型">
          <el-input v-model="detailData.filetype" readonly="readonly"></el-input>
        </el-form-item>
        <el-form-item label="详情">
          <template v-if="detailData.filetype==='图片' && detailData.filepath !== ''">
						<img :src="GLOBAL.baseUrl + '/upload/address/' + detailData.filepath" alt="">
            <!-- <el-input v-model="detailData.filepath" readonly="readonly"></el-input> -->
          </template>
					<template v-if="detailData.filetype==='视频' && detailData.filepath !== ''" >
						<video  class="edit-video" id="videoPlay" :src="GLOBAL.baseUrl + '/upload/address/' + editData.filepath" alt="">您的浏览器不支持 video 视屏播放。</video>
					  <!-- <el-input v-model="detailData.filepath" readonly="readonly"></el-input> -->
					</template>
          <template v-if="detailData.filetype==='文本'">
						<div class="details">{{detailData.details}}</div>
            <!-- <el-input v-model="detailData.details" readonly="readonly"></el-input> -->
          </template>
        </el-form-item>
        <el-form-item label="创建者">
          <el-input v-model="detailData.creator" readonly="readonly"></el-input>
        </el-form-item>
        <el-form-item label="创建时间">
          <el-input v-model="detailData.createTime" readonly="readonly"></el-input>
        </el-form-item>
      </el-form>
      <el-footer slot="footer" class="dialog-footer">
        <el-button @click="closeDetailDialog" type="primary">确定</el-button>
      </el-footer>
    </el-dialog>

    <el-table
      :data="dataList"
      border
			:row-class-name="tableRowClassName"
			v-loading="loading"
			element-loading-text="拼命加载中..."
			class="tableData">
      <el-table-column label="城市" prop="city" show-overflow-tooltip align="center">
      </el-table-column>
      <el-table-column label="地址" prop="address" show-overflow-tooltip align="center">
      </el-table-column>
      <el-table-column label="文件类型" prop="filetype" show-overflow-tooltip align="center">
      </el-table-column>
      <el-table-column label="内容" show-overflow-tooltip align="center">
        <template slot-scope="s">
          <template v-if="s.row.filetype === '图片'">
            {{ s.row.filepath }}
          </template>
          <template v-else-if="s.row.filetype === '视频'">
            {{ s.row.filepath }}
          </template>
          <template v-else-if="s.row.filetype === '文本'">
            {{ s.row.details }}
          </template>
        </template>
      </el-table-column>
			<el-table-column label="修改时间" prop="modityTime" show-overflow-tooltip align="center">
			</el-table-column>
      <el-table-column label="操作" width="300px" align="center">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" plain @click="detailAddress(scope.row)">详情</el-button>
          <el-button size="mini" type="primary" plain @click="editAddress(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" plain @click="deleteAddress(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-pagination
      :style="{marginTop: '20px'}"
      @current-change="handleCurrentChange"
      :current-page="search.pageNum"
      layout="total, prev, pager, next"
      :page-size="search.size"
      :total="total">
    </el-pagination>
  </div>
</template>

<script>
  import Vue from 'vue'
  import axios from 'axios'
  export default {
    name: 'position',
    data(){
      return{
        uploadUrl:"",//你要上传视频到你后台的地址
        videoFlag:false , //是否显示进度条
        videoUploadPercent:"", //进度条的进度，
        isShowUploadVideo:false, //显示上传按钮
				loading: false,
        dataList: [],
        imageFileList: [],
        videoFileList: [],
				isDeleteEditImg: false,
				isDeleteEditVideo: false,
				isState: "",
				isStateFilePath: "",
				videoIcon: "icon-bofang",
				deleteFilePath: '',
        search: {
          pageNum: 1,
          size: 10
        },
        total: 0,
        cities: [
          {name: '香港'},
          {name: '澳门'},
          {name: '珠海'}
        ],
        styles: [
          {name: '图片'},
          {name: '视频'},
          {name: '文本'}
        ],
        DialogVisible: false,
        detailDialogVisible: false,
        editDialogVisible: false,
        newData: {
          city: '',
          address: '',
          style: '',
          filepath: '',
          details: ''
        },
        detailData: {
          id: '',
          city: '',
          address: '',
          filetype: '',
          details: '',
          creator: '',
          createTime: ''
        },
        editData: {
					id: '',
          city: '',
          address: '',
          filetype: '',
          filepath: '',
          details: ''
        },
				rules: {
					city: [{
						required: true,
						message: '请选择城市',
						trigger: 'change'
					}],
					address: [{
						required: true,
						message: '请输入地址',
						trigger: 'change'
					}]
				},
				editRules: {
					city: [{
						required: true,
						message: '请选择城市',
						trigger: 'change'
					}],
					address: [{
						required: true,
						message: '请输入地址',
						trigger: 'change'
					}]
				}
      }
    },
    mounted(){
      this.getList();
    },
    methods:{
			playVideo(){
				var vids = document.getElementById("videoPlay");
				if(this.videoIcon === "icon-bofang") {
					vids.play();
					this.videoIcon = "icon-zanting"
				}else {
					vids.pause();
					this.videoIcon = "icon-bofang"
				}
			},
			//表格隔行变色
			tableRowClassName({
				row,
				rowIndex
			}) {
				if (rowIndex % 2 === 0) {
					return 'success-row';
				}
				return '';
			},
			
			//获取table数据
			getList() {
				this.loading = true;
				let params = {
					pageNum: this.search.pageNum,
					size: this.search.size
				}
			  axios.get('/addressInfo/getInfoPage', {params:params})
				.then(res=>{
			    this.dataList = res.data.content
			    this.total = res.data.totalElements
					this.loading = false;
			  }).catch(() => {
					this.loading = true;
				})
				
			},
			
			
			//新增按钮点击事件
			addItem(){
			  this.DialogVisible = true;
				this.newData = {
					city: "",
					address: "",
					style: "",
					filepath: "",
					details: ""
				}
				//去掉表单检验
				if (this.$refs['newData'] !== undefined) {
					this.$refs['newData'].resetFields();
				}
			},
			
			//新增确认事件
			sure(){
				this.$refs['newData'].validate((valid) => {
					if(valid) {
						let params = {
							city: this.newData.city,
							address: this.newData.address,
							filetype: this.newData.style,
							filepath:this.newData.filepath,
							creator: 'admin',
							details: this.newData.details,
							createTime:new Date().getFullYear() + '-' + (new Date().getMonth()+1) + '-' + new Date().getDate() + ' ' + new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds()
						}
						axios.post('/addressInfo/addAddressInfo', params)
						.then(res => {
							if(res.data.code === 1) {
								this.DialogVisible = false
								this.getList();
								this.$message({
								  message: res.data.msg,
								  type: 'success'
								})
							}else if(res.data.code === 0) {
								this.$message({
								  message: res.data.msg,
								  type: 'error'
								})
							}
						  
						  
						})
					}
				});
			},
			
			//新增弹框关闭事件
			closeDialog(){
			  this.DialogVisible = false;
				this.handleRemove2();//调用删除图片或视频事件
			},
			//新增弹框关闭事件
			handleClose() {
				this.DialogVisible = false;
				this.editDialogVisible = false;
				this.handleRemove2();//调用删除图片或视频事件
			},
			
			//点击查看详情
			detailAddress(val){
			  this.detailDialogVisible = true;
				let params = {
					id: val.id
				};
			  axios.get('/addressInfo/findInfoById', {params: params})
				.then(res=>{
			    this.detailData = res.data
			  });
			},
			
			//查看详情弹框关闭事件
			closeDetailDialog(){
			  this.detailDialogVisible = false;
			},
			
			
			//编辑点击事件
			editAddress(s){
			  this.editDialogVisible = true;
				
				//去掉表单检验
				if (this.$refs['editData'] !== undefined) {
					this.$refs['editData'].resetFields();
				}
			  axios.get('/addressInfo/findInfoById?id='+s.id)
				.then(res=>{
			    this.editData = res.data;
					this.isState = res.data.filetype;
					this.isStateFilePath = res.data.filepath;
					if(this.editData.filepath === '') {
							this.isDeleteEditImg = true;
							this.isDeleteEditVideo = true;
					}else {
						this.isDeleteEditImg = false;
						this.isDeleteEditVideo = false;
					}
			  })
				
			},
			
			//编辑弹框选择类型事件
			editChange() {
				
				if(this.editData.filetype==='图片'){
				  // this.imageFileList = [{name: this.editData.filepath.split("_")[1]}];
					if(this.isState === '图片' && this.isStateFilePath !== "") {
						this.editData.filepath = this.isStateFilePath;
						this.isDeleteEditImg = false;
					}else {
						this.editData.filepath = "";
						this.isDeleteEditImg = true;
					}
					
				}else if(this.editData.filetype==='视频'){
				  // this.videoFileList = [{name: this.editData.filepath.split("_")[1]}];
					if(this.isState === '视频' && this.isStateFilePath !== "") {
						this.editData.filepath = this.isStateFilePath;
						this.isDeleteEditVideo = false;
					}else {
						this.editData.filepath = "";
						this.isDeleteEditVideo = true;
					}
				}
				
			},
			
			//删除编辑弹框的图片
			closeImg() {
				this.isDeleteEditImg = true;
				this.isDeleteEditVideo = true;
				this.isStateFilePath = "";
				this.isState = "";
				let params = {
					filepath: this.editData.filepath,
					id: this.editData.id
				}
				axios.get('/addressInfo/delFile', {params: params})
				.then(res=>{
					if(res.data.code === 1) {
						this.editData.filepath = "";
						this.$message({
						  message: res.data.msg,
						  type: 'success'
						})
					}else if(res.data.code === 0) {
						this.$message({
							message: res.data.msg,
							type: 'error'
						})
					}
				})
			},
			
			//编辑弹框确认事件
			editSure(){
				this.$refs['editData'].validate((valid) => {
					if(valid) {
						var obj = {
						  id: this.editData.id,
						  city: this.editData.city,
						  address: this.editData.address,
						  filetype: this.editData.filetype,
						  filepath:this.editData.filepath,
						  details: this.editData.details,
						  creator: 'admin',
						  createTime:new Date().getFullYear() + '-' + (new Date().getMonth()+1) + '-' + new Date().getDate() + ' ' + new Date().getHours() + ':' + new Date().getMinutes() + ':' + new Date().getSeconds()
						}
						axios.put('/addressInfo/updateAddressInfo',obj).then(res=>{
						  if(res.data.code === 1) {
								this.editDialogVisible = false;
								this.getList();
						  	this.$message({
						  	  message: res.data.msg,
						  	  type: 'success'
						  	});
						  }else if(res.data.code === 0) {
								this.$message({
								  message: res.data.msg,
								  type: 'error'
								})
							}
						})
					}
				});
			},
			
			//编辑弹框关闭事件
			closeEditDialog(){
			  this.editDialogVisible = false;
				this.handleRemove2();//调用删除图片或视频事件
			},
			
			//数据删除事件
			deleteAddress(val){
			  this.$confirm('是否确认删除 '+ val.city + val.address, '提示', {
			    confirmButtonText: '确认',
			    cancelButtonText: '取消',
			    type: 'warning'
			  }).then(() => {
			    axios.delete('/addressInfo/deleteInfo?ids=' + val.id)
					.then(res=>{
						if(res.data.code === 1) {
							this.DialogVisible = false;
							this.getList();
							this.$message({
							  message: res.data.msg,
							  type: 'success'
							});
						}else if(res.data.code === 0) {
								this.$message({
								  message: res.data.msg,
								  type: 'error'
								})
							}
			      
			      
			    })
			  }).catch(()=>{})
			},
			
			
      //删除上传成功的图片----start
      handleRemove (file, fileList) {
				let params = {
					filepath: this.newData.filepath,
					id: ""
				}
				axios.get('/addressInfo/delFile', {params: params})
				.then(res=>{
					if(res.data.code === 1) {
						this.newData.filepath = "";
						this.editData.filepath = "";
						this.$message({
						  message: res.data.msg,
						  type: 'success'
						})
					}else if(res.data.code === 0) {
						this.$message({
						  message: res.data.msg,
						  type: 'error'
						})
					}
					
				})
      },
			handleRemove2 (file, fileList) {
				let params = {
					filepath: this.newData.filepath,
					id: ""
				}
				axios.get('/addressInfo/delFile', {params: params})
				.then(res=>{
					if(res.data.code === 1) {
						this.newData.filepath = "";
						this.editData.filepath = "";
					}
				})
			},
      // handlePreview (file) {
      // },
      handleSuccess (response, file, fileList) {
				if(response.code === 1) {
					this.newData.filepath = response.data;
					this.editData.filepath = response.data;
				}else {
					this.$message.error(`文件上传失败!`)
				}
      },
      handleExceed (files, fileList) {
        this.$message.warning(`只能上传一张图片`)
      },
      beforeRemove (file, fileList) {
        return this.$confirm(`确定移除 ${file.name}？`)
      },
      //处理图片----end
			
			
      //处理视频====start
      handleVideoRemove (file, fileList) {
        this.handleRemove();
      },
      handleVideoPreview (file) {
      },
      handleVideoSuccess (response, file, fileList) {
				if(response.code === 1) {
					this.newData.filepath = response.data;
					this.editData.filepath = response.data;
				}else {
					this.$message.error(`上传视频失败!`)
				}
        
      },
      handleVideoExceed (files, fileList) {
        this.$message.warning(`只能上传一段视频`)
      },
      beforeVideoRemove (file, fileList) {
        return this.$confirm(`确定移除 ${file.name}？`)
      },
      //处理视频====end
			
			
			//切换分页事件
      handleCurrentChange(val) {
        this.search.pageNum = val;
        this.getList();
      }
    }
  }
</script>

<style lang="scss" scoped>
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{
		margin: 0;
		padding: 0;
	}
	ol, ul {
		margin: 0; 
		padding: 0;
	}
	ul,li,ol,dl,dt,dd {
		list-style: none;
		margin: 0; 
		padding: 0;
	}
	a {
		text-decoration: none!important;
	}
	
	/*修改滚动条样式*/
	div::-webkit-scrollbar{
	  /*滚动条整体样式*/
		width: 10px;  /*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}
	
	div::-webkit-scrollbar-track{
		
	   /*滚动条里面轨道*/
	    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
	    background: #ededed;
	    border-radius: 10px;
	}
	
	div::-webkit-scrollbar-thumb{
	  /*滚动条里面小方块*/
		border-radius: 10px;
		background-color: #5897ff;
		background-image: -webkit-linear-gradient(
				45deg,
				rgba(255, 255, 255, 0.2) 25%,
				transparent 25%,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 50%,
				rgba(255, 255, 255, 0.2) 75%,
				transparent 75%,
				transparent
		);
	}
	
  .position{
    position:absolute; 
    top:0; 
    left:0; 
    height:100%; 
    width:100%; 
		background-image: url(../assets/images/main-bg.png);
		// background-position: center 0; 
		background-repeat: no-repeat; 
		background-attachment:fixed; 
		background-size: cover; 
		-webkit-background-size: cover;/* 兼容Webkit内核浏览器如Chrome和Safari */ 
		-o-background-size: cover;/* 兼容Opera */ 
		zoom: 1;
		.showInfo {
			.details {
				border: 1px solid #616f95;
				color: #fff;
				opacity: 0.6;
				max-height: 200px;
				min-height: 38px;
				overflow-y: scroll;
				line-height: 22px;
			}
		}
		.edit-video {
			width: 100%;
			max-height: 200px;
		}
		.header {
			width: 100%;
			height: 106px;
			// line-height: 138px;
			padding-left: 5%;
			box-sizing: border-box;
			.logo {
				position: absolute;
				top: 35px;
				left: 40px;
				width: 300px;
				height: 70px;
				@media screen and (max-width: 840px) {
					top: 3%;
					left: 3.5%;
				}
				@media (min-width: 841px) and (max-width: 960px) {
					top: 3%;
					left: 3%;
				}
				@media (min-width: 961px) and (max-width: 1200px) {
					top: 3%;
					left: 2.5%;
				}
				@media (min-width: 1201px) and (max-width: 1500px) {
					top: 3.5%;
					left: 2%;
				}
				@media (min-width: 1501px) and (max-width: 1600px) {
					top: 3.5%;
					left: 2%;
				}
				@media (min-width: 1601px) and (max-width: 1700px) {
					top: 4%;
					left: 2.5%;
				}
				@media (min-width: 1701px) and (max-width: 1800px) {
					top: 4.5%;
					left: 3%;
				}
				@media (min-width: 1801px) and (max-width: 1920px) {
					top: 5%;
					left: 3%;
				}
				img {
					display: block;
					width: 40px;
					position: absolute;
					top: 15px;
					left: 10px;
					// @media screen and (max-width: 960px) {
					// 	width: 50px;
					// }
					// @media (min-width: 961px) and (max-width: 1200px) {
					// 	width: 28px;
					// 	top: 15px;
					// }
					// @media (min-width: 1201px) and (max-width: 1440px) {
					// 	width: 38px;
					// 	left: 8px;
					// }
					// @media (min-width: 1441px) and (max-width: 1600px) {
					// 	width: 50px;
					// }
					// @media (min-width: 1601px) and (max-width: 1720px) {
					// 	width: 50px;
					// 	top: 8px;
					// }
					// @media (min-width: 1721px) and (max-width: 1920px) {
					// 	width: 60px;
					// }
				}
				.titleName{
					text-align: left;
					color: #fff;
					padding-top: 0;
					float: left;
					position: absolute;
					top: 14px;
					left: 60px;
					// @media screen and (max-width: 960px) {
					// 	display: none;
					// }
					// @media (min-width: 841px) and (max-width: 1200px) {
					// 	left: 45px;
					// }
					@media (min-width: 1201px) and (max-width: 1440px) {
						left: 52px;
					}
					// @media (min-width: 1441px) and (max-width: 1600px) {
					// 	left: 70px;
					// 	top: 8px;
					// }
					// @media (min-width: 1601px) and (max-width: 1720px) {
					// 	left: 70px;
					// 	top: 3px;
					// }
					// @media (min-width: 1721px) and (max-width: 1920px) {
					// 	left: 80px;
					// }
					.title1 {
						font-size: 20px;
						// @media (min-width: 841px) and (max-width: 1200px) {
						// 	font-size: 14px;
						// }
						// @media (min-width: 1201px) and (max-width: 1440px) {
						// 	font-size: 19px;
						// }
						// @media (min-width: 1441px) and (max-width: 1600px) {
						// 	font-size: 22px;
						// }
						// @media (min-width: 1601px) and (max-width: 1720px) {
						// 	font-size: 26px;
						// }
						// @media (min-width: 1721px) and (max-width: 1920px) {
						// 	font-size: 28px;
						// }
					}
					.title2 {
						font-size: 12px;
						// @media (min-width: 841px) and (max-width: 1200px) {
						// 	font-size: 12px;
						// }
						// @media (min-width: 1201px) and (max-width: 1440px) {
						// 	font-size: 12px;
						// }
						// @media (min-width: 1601px) and (max-width: 1720px) {
						// 	font-size: 15px;
						// }
						// @media (min-width: 1721px) and (max-width: 1920px) {
						// 	font-size: 16px;
						// }
					}
				}
			}
		}
		.text-area {
			width: 100%;
			outline: none;
			min-height: 6.5rem;
			padding: 10px;
			box-sizing: border-box;
			background: rgba(0,0,0,0);
			color: #fff;
			opacity: 0.6;
		}
  }
	
  
</style>

<style lang="scss">
	.add-button {
		// position: absolute;
		// top: 9%;
		// right: 6%;
		float: right;
		margin-right: 120px;
		margin-top: 90px;
		@media (min-width: 1800px) and (max-width: 1920px) {
			margin-top: 120px;
		}
		background: url(../assets/images/button.png) no-repeat;
		background-size: 100% 100%;
		border: none;
		padding: 10px 46px;
		&:hover,
		&:focus{
			background: url(../assets/images/button-hover.png) no-repeat;
			background-size: 100% 100%;
		}
	}
	.tableData {
		width: calc(100% - 240px);
		// position: absolute;
		// top: 15.5%;
		margin-left: 120px;
		margin-right: 120px;
		margin-top: 50px;
		@media (min-width: 1800px) and (max-width: 1920px) {
			margin-top: 80px;
		}
		// transform: translateX(-50%);
		background: none;
	}
	.el-table {
		color: #fff;
		opacity: 0.8;
		border: none;
		thead {
			color: #fff;
		}
		.el-table__header-wrapper {
			background: url(../assets/images/table-header.png) no-repeat;
			background-size: 100% 100%;
			box-sizing: border-box;
		}
		.el-table__body-wrapper {
			max-height: 500px;
			min-height: 500px;
			@media screen and (max-width: 1440px) {
				max-height: 280px;
				min-height: 280px;
			}
			@media (min-width: 1401px) and (max-width: 1600px) {
				max-height: 300px;
				min-height: 300px;
			}
			overflow-y: scroll;
			padding: 0 3px;
			box-sizing: border-box;
			background: url(../assets/images/table-bg.png) no-repeat;
			background-size: 100% 100%;
			/*修改滚动条样式*/
			&::-webkit-scrollbar{
			  /*滚动条整体样式*/
				width: 10px;  /*高宽分别对应横竖滚动条的尺寸*/
				height: 1px;
			}
			
			&::-webkit-scrollbar-track{
				
			   /*滚动条里面轨道*/
			    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
			    background: #ededed;
			    border-radius: 10px;
			}
			
			&::-webkit-scrollbar-thumb{
			  /*滚动条里面小方块*/
				border-radius: 10px;
				background-color: #5897ff;
				background-image: -webkit-linear-gradient(
						45deg,
						rgba(255, 255, 255, 0.2) 25%,
						transparent 25%,
						transparent 50%,
						rgba(255, 255, 255, 0.2) 50%,
						rgba(255, 255, 255, 0.2) 75%,
						transparent 75%,
						transparent
				);
			}
		}
		.el-table__body,
		.el-table__header{
			display: block;
			width: 100%!important;
		}
	}
	.el-pagination {
		margin-left: 50%;
		transform: translateX(-10%);
	}
	.el-table th, .el-table tr {
		background: rgba(0,0,0,0);
		border: none;
	}
	.el-table--enable-row-hover .el-table__body tr:hover>td {
		background-color: rgba(58, 122, 230, 0.21176470588235294);
		color: #ffe568;
	}
	.success-row {
		background-color: #0c1040!important;
	}
	.el-table--border, .el-table--group {
		border: none;
	}
	.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
		border: none;
	}
	.el-table--border::after, .el-table--group::after, .el-table::before {
		background: none;
	}
	.el-table td, .el-table th.is-leaf {
		border: none;
	}
	.el-button--primary.is-plain,
	.el-button--danger.is-plain{
		color: #73a7ff;
		background: rgba(0,0,0,0);
		border: none;
		&:hover,
		&:focus{
			color: #ffe568;
			background: rgba(0,0,0,0);
			border: none;
		}
	}
	.el-pagination__total {
		color: #73a7ff;
	}
	.el-pagination button:disabled {
		background: rgba(0,0,0,0);
		border-color: #73a7ff;
	}
	.el-pager li {
		background: rgba(0,0,0,0);
		color: #fff;
	}
	.el-pagination .btn-next, .el-pagination .btn-prev {
		background: rgba(0,0,0,0);
		color: #fff;
	}
	
	
	.el-dialog {
		width: 35%;
		background: #213067;
		// right: 50%;
		// top: 50%;
		// transform: translate(50%, -50%);
		@media (min-width: 960px) and (max-width: 1200px) {
			width: 50%;
		}
		.el-dialog__header {
			padding: 20px 20px 0;
		}
		.el-dialog__headerbtn .el-dialog__close {
			color: #fff;
		}
		.el-dialog__title {
			color: #fff;
			opacity: 0.6;
		}
		.el-form-item {
			margin-bottom: 18px;
		}
		.el-form-item__label {
			color: #fff;
			opacity: 0.6;
		}
		.el-input__inner {
			background: rgba(0,0,0,0);
			color: #fff;
			border-color: #616f95;
			opacity: 0.6;
		}
		.el-button--primary {
			background: url(../assets/images/button2.png) no-repeat;
			background-size: 100% 100%;
			border: none;
			padding: 10px 20px;
			&:hover,
			&:focus{
				background: url(../assets/images/button2-hover.png) no-repeat;
				background-size: 100% 100%;
			}
		}
		.el-footer {
			padding: 0;
		}
		.el-upload-list__item-name {
			color: #fff;
			opacity: 0.6;
		}
		.el-upload-list__item:hover {
			background: none;
		}
		.el-upload-list__item-name [class^=el-icon] {
			color: #fff;
			opacity: 0.6;
		}
		
		.el-button--primary.is-plain, .el-button--danger.is-plain {
			background: url(../assets/images/button-bg-border.png) no-repeat;
			background-size: 100% 100%;
			border: none;
			padding: 10px 20px;
			&:hover,
			&:focus{
				background: url(../assets/images/button-bg-dorder-hover.png) no-repeat;
				background-size: 100% 100%;
			}
		}
	}
	
	.el-select-dropdown {
		background-color: #446bac;
		border: 1px solid #446bac;
		.el-select-dropdown__list {
			.el-select-dropdown__item {
				padding-left: 10px!important;
				color: #fff;
				opacity: 0.6;
			}
			.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
				background-color: #213067;
			}
		}
	}
	.el-popper[x-placement^=bottom] .popper__arrow {
		border-bottom-color: #446db2;
	}
	.el-popper[x-placement^=bottom] .popper__arrow::after {
		border-bottom-color: #446bac;
	}
	
	.el-icon-close {
		color: #fff!important;
		opacity: 0.6;
	}
	.el-message-box {
		background-color: #213067;
		border: none;
		.el-message-box__title {
			color: #fff;
			opacity: 0.6;
		}
		.el-message-box__message {
			color: #fff;
			opacity: 0.6;
		}
		.el-button--small, .el-button--small.is-round {
			background: url(../assets/images/button-bg-border.png) no-repeat;
			background-size: 100% 100%;
			border: none;
			padding: 10px 20px;
			color: #73a7ff;
			&:hover,
			&:focus{
				background: url(../assets/images/button-bg-dorder-hover.png) no-repeat;
				background-size: 100% 100%;
				color: #ffe568;
			}
		}
		.el-button--primary {
			background: url(../assets/images/button2.png) no-repeat;
			background-size: 100% 100%;
			border: none;
			padding: 10px 20px;
			&:hover,
			&:focus{
				background: url(../assets/images/button2-hover.png) no-repeat;
				background-size: 100% 100%;
			}
		}
	}
	
	
	.el-tooltip__popper {
		display: none;
	}
	
	.el-form-item__content {
		position: relative;
		img {
			display: block;
			width: 100%;
			max-height: 200px;
		}
		&:hover {
			.close-img {
				opacity: 1;
			}
		}
		.close-img {
			opacity: 0;
			position: absolute;
			top: 5px;
			right: 5px;
			font-size: 14px;
			padding: 2px;
			border: 1px solid #fff;
			border-radius: 50%;
			cursor: pointer;
			transition: all .3s;
		}
		.close-video {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 14px;
			color: #fff;
			font-size: 30px;
			transform: translate(-50%, -50%);
			cursor: pointer;
		}
	}
	.el-loading-mask {
		background-color: rgba(0,0,0,.6);
	}
	
</style>